@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
  --pink: hsl(322, 100%, 66%);
  --cyan: hsl(192, 100%, 9%);
  --paleBlue: hsl(207, 100%, 98%);
  --white: #fefefe;
  --black: #212121;

  --bgColor: var(--white);
  --textColor: var(--cyan);

  --bodyFont: 'Open Sans', sans-serif;
  --headingFont: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--bodyFont);
  background: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
}

img {
  max-width: 100%;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: none;
  background: var(--pink);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  color: var(--white);
}

.button--secondary {
  background: var(--white);
  border: 1px solid var(--pink);
  color: var(--pink);
}

/* Nav */
.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.nav__logo {
  justify-self: start;
}

.nav__button {
  justify-self: end;
  padding: 0.5rem 1.5rem;
}

/* Header Section */
.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20vh;
  position: relative;
}

.header__title {
  font-size: 1.75rem;
  padding-bottom: 2rem;
}

.header__p {
  padding-bottom: 2rem;
}

.header__button {
  justify-self: center;
  font-weight: bold;
}

.header__image {
  margin-top: 15vh;
}

.header__stats {
  margin-top: 15vh;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 165px;
  background: url('./images/bg-section-top-desktop-1.svg');
  background-position: center;
}

/* Description Sections */
.descriptionSection {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--paleBlue);
  position: relative;
}

.descriptionSection__2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background: url('./images/bg-section-bottom-mobile-1.svg');
  background-position: center;
}

.descriptionSection__2 {
  background: var(--white);
}

.descriptionSection__2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  background: url('./images/bg-section-top-mobile-2.svg');
  background-position: center;
}

/* Call to action section */
.ctaSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('./images/bg-section-bottom-mobile-2.svg');
  background-position: center;
}

.ctaSection {
  text-align: center;
  position: relative;
}

.ctaSection__heading {
  font-size: 2rem;
}

.ctaSection::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 53px;
  background: url('./images/bg-footer-top-mobile.svg');
  background-position: center;
}

/* Footer */
.footer {
  background: var(--cyan);
  color: var(--white);
  position: relative;
  display: grid;
  grid-template-areas:
    'newsletter'
    'logo'
    'contact'
    'socials'
    'attribution';
}

.footer__image {
  background: var(--white);
  color: var(--white);
}

.footer__info {
  grid-area: logo;
}

.footer__newsletter {
  grid-area: newsletter;
}

.footer__contact {
  grid-area: contact;
}

.footer__socials {
  grid-area: socials;
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
